name: Android CI

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  release:
    types: ["published"]

jobs:
  build:
    name: Build & Release
    permissions:
      contents: write
    runs-on: ubuntu-latest

    env:
      CGO_ENABLED: 1

    steps:
      - name: Checkout codebase
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"
          check-latest: true
          cache: true

      - name: Setup JDK 23
        uses: actions/setup-java@v4
        with:
          java-version: "23"
          distribution: "zulu"
          cache: "gradle"

      - name: Setup Gradle Cache
        uses: gradle/actions/setup-gradle@v4

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          api-level: 36
          ndk: r26b
          build-tools: 35.0.0

      - name: Grant Execute Permission to Gradlew
        run: chmod +x ./gradlew

      - name: Build Project (APK & AAR)
        run: ./gradlew assembleRelease buildTun2SocksAar --stacktrace

      - name: Upload Tun2Socks AAR
        uses: actions/upload-artifact@v4
        with:
          name: tun2socks-aar
          path: app/libs/tun2socks.aar
          if-no-files-found: error

      - name: Upload Release APK
        uses: actions/upload-artifact@v4
        with:
          name: oblivion-release-unsigned
          path: app/build/outputs/apk/release/*.apk
          if-no-files-found: error